:root {
  --text-title: #212121;
  --text-main: #757575;
  --text-white: #ffffff;
  --text-footer: rgba(255, 255, 255, 0.6);
}

.accent {
  color: #2196F3;
}

.top .logo, 
.top .link {
  color: var(--text-title);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  font-family: 'Raleway', sans-serif; 
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #2196F3;
}

.link.current {
  color: #2196F3;
}

.nav a {
  color: var(--text-main);
  text-decoration: none;
}

button.white {  
  color: var(--text-white);
  background: #2196F3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero {
  background: #2F303A;
}

.white-title {
  color: var(--text-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btns {
  color: var(--text-title);
  background: #F5F4FA;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.btns:hover,
.btns:focus {
  background: #2196F3;
  color: #ffffff;
}

.features h3 {
  color: var(--text-title);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  color: var(--text-main);

  font-size: 14px;
  line-height: 1.7;
}

.title {
  color: var(--text-title);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background: #F5F4FA;
}

.team .name {
  color: var(--text-title: #212121);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.text {
  color: var(--text-main);

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

footer {
  background: #2F303A;
}

address .white {
  color: var(--text-white);
}

p.white {
  font-size: 14px;
  line-height: 1.7;
}

a.down-contacts {
  color: var(--text-footer);

  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.project-name {
  color: var(--text-title);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio {
  color: var(--text-main);

  font-size: 16px;
  line-height: 1.9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}